!!! 5
%html
	%head
		%title PhotoFlip!
		%link(rel="stylesheet" href="/css/main.css")
	%body
		#header
			%h1 
				%div.hidden
					%a.hidden(href='/') Flip Your Photo
		#content
			=yield
		#footer
			© Vivek Bhagwat 2011